@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

.table-nowrap {
	white-space: nowrap;
	overflow: hidden;
}

.form-control {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.form-control:disabled,
.skeleton {
	background: linear-gradient(110deg, #ececec 8%, #f5f5f5 20%, #ececec 33%);
	background-size: 200% 100%;
	animation: 1.5s skeleton linear infinite;
	color: transparent !important;
}

@keyframes skeleton {
	to {
		background-position-x: -200%;
	}
}
